<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="<%= is_active == "HomeController"? "active" : "" %>"><%= link_to "Streams", "#" %></li>
    <li class="<%= is_active == "HomeJsonController"? "active" : "" %>"><%= link_to "JSON Stream", "#" %></li>
    <li class="<%= is_active == "ActorsController"? "active" : "" %>"><%= link_to "Actors", "#" %></li>
    <li class="<%= is_active == "VerbsController"? "active" : "" %>"><%= link_to "Verbs", "#" %></li>
  </ul>
</div>
