<li class="well activity-well span8">
<%= User.find(activity.actor["id"]).first_name %>
<%= activity.verb %>s
<%= Kernel.const_get(activity.object["type"]).send(:find, activity.object["id"]).content %>    
(at: <%= activity.created_at.strftime("%H:%M %d/%m/%Y")%>)</br>
<%= "Target object: #{activity.target_object}" unless activity.target_object.nil? %>
<%= link_to "Comment", "#" %> | <%= link_to "Like", "#" %>
</li>
