<li>
  <div class="">
  Verb: <%= activity.verb %>
  </div>
  object: <%= activity.object.inspect %>
  Created: <%= activity.created_at %>
  Target object: <%= activity.target_object %>
  <%= activity.inspect %>
</li>
